{% extends 'base.html' %}

{% block head %}

<title>Getting Things Done</title>
{% endblock %}

{% block body %}
<div class="container">
    {% if things|length < 1 %}
    <h4>There are no things. Add one below.</h4>
    {% else %}
    <table class="table table-bordered table-responsive table-sm table-hover">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Thing</th>
                <th scope="col">Added</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% for thing in things %}
        <tbody>
            <tr>
                <td>{{ thing.content }}</td>
                <td>{{ thing.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{thing.id}}">Delete</a>
                    <br>
                    <a href="/update/{{thing.id}}">Update</a>

                </td>
            </tr>
        </tbody>
        {% endfor %}    
    </table>
    {% endif %}
    <div class="form-group">
        <form action="/" method="POST" class="form-floating">
            <input type="text" class="form-control" name="content" placeholder="New thing" id="content">
            <label for="floatingInputValue">New thing</label>
            
        </form>
    </div>
    <div class="form-group">
        <button class="btn btn-primary type="submit">Add Task</button>
    </div>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© Mike Gregoire</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a href="mailto:mgregoire1@me.com">mgregoire1@me.com</a></li>
      <li class="ms-3"><a href="https://mikegregoire.me">mikegregoire.me</a></li>
      <li class="ms-3"><a href="https://github.com/mgregoire254/Getting-Things-Done">view code on GitHub</a></p></li>
    </ul>
</footer>

{% endblock %}
