{% extends 'base.html' %}

{% block head %}
<title>Getting Things Done</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Getting Things Done</h1>
    


    <table>
        <tr>
            <th>Thing</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for thing in things %}
            <tr>
                <td>{{ thing.content }}</td>
                <td>{{ thing.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{thing.id}}">Delete</a>
                    <br>
                    <a href="/update/{{thing.id}}">Update</a>

                </td>
            </tr>
        {% endfor %}    
    </table>

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">

    </form>

</div>
{% endblock %}
